$smallNavDuration: 0.25s;
$smallNavEasing: $ease-in-out-sine;
$navTopHeight: 54px;
$headerHeight: 0;
$smallNavHeaderHeight: 75px;

header {
	position: absolute;
	top:0; left:0; right:0;
	z-index: 9;
}

.header-logo {
	position: absolute;
	top: 94px; left:0;
	img { width: 118px;}
}

@media screen and (max-width: $collapseNavAt) {
	header { 
		z-index: inherit; 
	}
	.header-logo {
		top: 10px;
		left:0; right:0;
		width: 150px;
		margin: 10px auto 0;
		z-index: 8;
		background-image: url(../images/team-canada-logo-white-small.svg) !important;
	}
}
