
.toggle-nav { 
	@include transform( translateZ(0) );
	outline: none;
	display:none;
	color: #fff;
	position: fixed;
	background: rgba(255,255,255,0.8);
	top:5px; left: 5px;
	height: 42px;
	padding: 10px 10px 10px 40px;
	font-weight: 600;
	@include transition( $smallNavDuration all $smallNavEasing 0s );
	text-transform: uppercase;
	
	.show-nav & { top: 5px; }
	.small-nav & { top:18px; }
	
	@media screen and (max-width: $collapseNavAt) {
		font-size:0;
		padding-left: 30px;
	}
		
	.show-nav &,
	&:hover {
		background: $primaryColor;
		color:#fff;
		span { 
			&,
			&:before,
			&:after { border-top-color: #fff; }
			
			.show-nav & { border-top-color: #fff; }
		}
	}
	
	
	span {
		width: 20px; height: 10px;
		left:10px;
		margin-top: -1px;
		position: absolute;
		top: 50%;
		border-top:  2px solid $primaryColor;
		
		&,
		&:before,
		&:after {
			@include transition( all 0.2s $ease-in-out-sine 0s );
		}
		
		.show-nav & { border-top-color: $primaryColor !important; left: 16px;}
		
		&:before,
		&:after {
			content:"";
			position: absolute;
			top: -9px; 
			left:0; right:0;
			border-top: 2px solid $primaryColor;
			@include transform-origin( top left );
			.show-nav & {
				left: -3px;
				@include transform( rotate3d(0,0,1,45deg) );
			}
			
		}
		
		&:after { 
			top: auto; bottom:1px;
			@include transform-origin( bottom left );
			.show-nav & { 
				bottom:-1px;
				@include transform( rotate3d(0,0,1,-45deg) ); 
			}
		}
		
	}
	
}

.nav {
	position: absolute;
	top:0; left:0; right:0;
	z-index: 10;
	height: $navTopHeight;
	background: $secondaryColor;
}

.nav-top {
	position:fixed;
	@include transform( translateZ(0) );
	top:0; left:0; right:0;
	height: $navTopHeight;
	background: $secondaryColor;

	.logos {
		@include order( -1 );
		@include display( flex );
		a { 
			display: block;
			opacity:0.6;
			margin-right: 20px;
			&:hover { opacity:1; }
		}
		img { 

			height: 30px; 
		}
	}


	.sw {
		@include display( flex );
		@include align-items( center );
		@include justify-content( space-between );
	}

	.links {
		@include display( flex );
		@include align-items( center );
		text-transform:uppercase;

		&>a {
			font-size: 12px;
			line-height: $navTopHeight;
			color: $darkColor;
			display: block;
			padding: 0 8px;
			&:hover {
				color:#fff;
				background: $primaryColor;
			}
		}
	}

	.social {
		padding-left: 5px;
		margin-left: 5px;
		border-left: 1px solid darken($secondaryColor,10);
		a {
			margin: 0 4px;
			&:before {
				color: $darkColor;
				font-size: 28px;				
			}

			&:hover:before {
				color: #fff;
			}
		}

	}

}

.nav-wrap {
	position: absolute;
	top:0; left:0; right:0;
}

nav {
	position: absolute;
	top:140px; left: 150px;
	&>ul { @include display( flex ); }
}

.meta-nav {
	position: absolute;
	top: 145px; right:0;
	@include display( flex );
	background: $secondaryColor;
	border-radius: 14px;	
	overflow: hidden;

	&:after {
		content:"";
		position: absolute;
		top: 50%; left:0; right:0; 
		margin: 0 auto;
		@include transform( translateY(-50%) );
		height: 20px; width: 1px;
		background: darken($secondaryColor,10);
	}

	.small-nav &:hover:after { display: none;}

	a,button { 
		@include flex( 1 1 auto );
		display: block;
		color: $darkColor;
		width: 50px; height: 44px; line-height: 36px;
		padding: 4px;
		text-align:center;
		text-transform: uppercase;
		&:hover {
			color: #fff;
		}
	}
}


.nav-item {

	&:first-child { display: none; }

	a.teamcanada-f {
		padding: 19px 28px;
		&:before {
			font-size: 40px;
		}
	}

	position: relative;
	&>a {
		display: block;
		color: #fff;
		font-weight: 600;
		padding: 19px;
		line-height: 1;
		text-transform:uppercase;
	}

	&:hover {
		&>a { background: $secondaryColor; }
		.subnav-dd { @include transform( none ); }		
	}



}

.subnav-dd { 
	position: absolute;
	left:0; top: 100%;
	background: $mediumColor;
	@include display( flex );
	@include transition( 0.2s transform $ease-in-out-sine );
	@include transform-origin( center top );
	@include transform( scale(1,0) );

	ul {
		padding: 20px;
		min-width: 240px;
	}

}

.subnav-fact {
	min-width: 250px;
	@include display( flex );
	background: $secondaryColor;
	color: #fff;
	text-transform: uppercase;
	text-align: center;
	font-size: 18px;

	.t-fa {
		&:before {
			font-size: 32px;
			color: #fff;
			display: block;
			margin: 0 0 10px;
		}
		display: block;
		margin: auto;
	}
}

.subnav-item {

	&>a {
		display: block;
		padding: 6px 8px;
		border-radius: 6px;
		color: $darkColor;
		&:hover {
			background: $primaryColor;
			color: #fff;
		}
	}

}

/* kill fact attached to subnav below 900px */
@media screen and (max-width: 900px) {
	.subnav-dd {
		background: transparent;
		left:-100px; right:-100px;
		text-align: center;
		display: block;

		ul {
			display: inline-block;
			background: $secondaryColor;
			min-width:0;
			padding:20px 0;
		}

	}

	.subnav-item {
		&>a { 
			border-radius:0;
			color: $lightColor;
			padding: 6px 20px;
		}
	}

	.subnav-fact { display: none; }
}


/* small nav */
@media screen and (min-width: $collapseNavAt) {

	.small-nav {

		.nav-top {
			display: none;
		}

		.nav {
			position: fixed;
			@include transform( translateZ(0) );
		}

		.nav-wrap {
			max-width: 100%;
		}

		.meta-nav,
		nav {
			top:0;
		}

		nav { left:0; }

		.nav-item {
			&:first-child { display: block; }
			&.selected,
			&:hover {
				&>a { background: $primaryColor; }
			}
		}

		.meta-nav {
			border-radius:0;
			a,button {
				height: $navTopHeight;
				line-height: $navTopHeight - 8;
				color: #fff;
				&:hover {
					background: $primaryColor;
				}
			}
		}

	}

}

/* collapsed nav */
$collapseNavWidth: 280px;
.header-logo,
.page-wrapper {
	@include transition( 0.4s all $ease-in-out-sine !important );
}

.show-nav {

	.page-wrapper { box-shadow: 0 0 12px rgba(0,0,0,0.4); }

	.header-logo,
	.page-wrapper {
		@include transform( translate3d($collapseNavWidth,0,0) );
	}
}

.mobile-nav-bg { display: none; }
.show-search,
.show-nav { height: 100vh; overflow: hidden;}
@media screen and (max-width: $collapseNavAt) {

	.mobile-nav-bg { 
		background: rgba(0,0,0,0.8); 
		position: fixed; 
		top:0; left:0; right:0; bottom:0; 
		height: 10000px;
		@include transform( translateZ(0) );
		z-index: -1; 
		display: block; 
		visibility: hidden; 
		opacity:0; 
		cursor: pointer;
		@include transition( all 0.4s $ease-in-out-sine );
		
		.show-nav & {
			opacity:1; 
			visibility: visible; 
			z-index: 21; 
			cursor: pointer;
		}
		
	}	

	.toggle-nav { display: block; z-index: 10;}

	.nav-wrap { max-width: 100%; }

	.nav-top,
	.nav-wrap { position: static;}

	.nav-top {
		.links,
		.links>a,
		.sw {
			display: block;
		}

		.links { border-top: 1px solid #666;}
		.links>a { 
			line-height: 1;
			padding: 10px 19px;
			border-bottom: 1px solid #666;
			background: #444;
		}

		.sw { max-width: 100%;}

		.social {
			margin:0;
			border:none;
		}

		.logos,
		.social {
			padding: 10px 0;
			@include justify-content( center );
		}
	}

	.nav {
		z-index: inherit;
		position: fixed;
		right: auto; bottom:0;
		height: 100vh;
		padding-top: 60px;
		overflow-y: auto;
		width: $collapseNavWidth;
		background: $secondaryColor;

		.ios & {
			overflow-y:scroll;
			-webkit-overflow-scrolling: touch;
		}
	}



	nav { 
		position: static;
		&>ul {
			display: block;
		}
	}

	.subnav-dd {
		position: static;
		@include transform( none );
		text-align: left;
		ul { 
			display: block;
			background: darken($secondaryColor,5);
			padding:0;
		}
	}

	.nav-item {
		&:first-child { display: block; }
		&.selected,
		&:hover {
			&>a { background: $primaryColor; }
		}

		.teamcanada-f {
			text-indent:32px;
			&:before { 
				text-align:left; 
				text-indent: 10px;
			}
		}

	}	

	.meta-nav {
		top:5px; right: 5px;
		border-radius:0;
		a,button {
			&:hover {
				background: $primaryColor;
			}
		}
	}


}


