$footerBackgroundColor: #000 !default;
$footerContentColor: #fff !default;
$footerLinkColor: #000 !default;
$footerHoverColor: #000 !default;

$copyrightBackgroundColor: #000 !default;
$copyrightContentColor: #000 !default;
$copyrightLinkColor: #000 !default;
$copyrightHoverColor: #000 !default;
$copyrightSeparatorColor: #000 !default;

/* footer */
footer {
	background-color: $footerBackgroundColor;
	color: $footerContentColor;
	padding-bottom: 10px;
	border-top: 1px solid darken($footerBackgroundColor,10);
	
	a {
		color: $footerLinkColor;
		&:hover { color: $footerHoverColor;}
	}
	
	.social a:after {
		@include transition-duration( 0.4s );
		@include transition-timing-function( $ease-out-back );
	}
}


/* copyright */
.copyright { 
	border-top: 1px solid darken($footerBackgroundColor,10);
	background-color: $copyrightBackgroundColor;
	color: $copyrightContentColor;
	position: relative; 
	font-size: 14px; 
	cursor: default; 
	margin-top: 50px;
	
	.sw {
		padding: 20px 0;
		@include display( flex );
		@include flex-flow( row wrap );
		@include justify-content( space-between );
		@include align-items( center );
	}
	
	a {
		color: $copyrightLinkColor;
		&:hover { color: $copyrightHoverColor; }
	}
	
	ul {
		position: relative; 
		z-index: 10; 
		display: inline-block;
		padding: 12px 0;
	}
	
	li {
	
		display: inline-block; 
		border-left: 1px solid $copyrightSeparatorColor;
		margin-right: -0.25em; 
		margin-left: 5px; 
		padding-left: 5px; 
		line-height: 1;
	
		&:first-child {
			margin-left:0; 
			padding:0; 
			border: none; 
		}
	
	}
	
}

#jac { 
	width: 186px; 
	height: 25px; 
	background-size: cover;
}

@media screen and (max-width: 800px) {
	.copyright li { display: block; border: none; margin:0; padding:4px 0 !important; font-size: 14px;}
}

footer {
	padding-top: 40px;
	h5 a { 
		color: $headingColor;
		&:hover { color: $darkColor; }
	}


	.social a {
		margin-right: 5px;
		&:before {
			color: $darkColor;
			font-size: 32px;
		}
	}

}

.footer-blocks {
	@include display( flex );
	@include flex-flow( row wrap );
	@include justify-content( space-between );
}

.footer-block {
	@include flex( 1 1 auto );
	&:last-child { @include flex( 0 1 auto ); }
}

.footer-nav-item {
	padding: 0 20px 20px 0;

	ul {
		margin-left: -6px;
		a {
			display: block;
			padding: 6px 15px 6px 6px;
			border-radius: 6px;
			&:hover { background: $primaryColor; color: #fff; }
		}
	}
}

.footer-nav-two-col {
	@include column-count( 2 );
}

.footer-contact {
	@include display( flex );
	@include flex-flow( row wrap );
	@include justify-content( space-between );
	margin-bottom: 20px;

	address {
		padding-right: 20px;
	}
}


