.primary-bg { background: $primaryColor; }
.medium-bg { background: $mediumColor;}
.patterned-bg { background: url(../images/pattern.png) 0 0 repeat;}
.primary { color: $primaryColor; }


/* modules */
@import "site/overview_grid";
@import "site/media_grid";
@import "site/split_block";
@import "site/search_form";
@import "site/countdown";
@import "site/fast_facts";

.inline-video {
	overflow:hidden;
}

.inline-video-content {
	min-height: 70vh;
	@include display( flex );
	@include flex-flow( column nowrap );
	@include justify-content( center );
	@include align-items( center );
	margin: 0 auto;
	width: 750px;
	max-width: 90%;
	text-align:center;
	cursor: pointer;

	p {
		font-size: 20px;
		line-height: 32px;
	}

	&:after {
		@include fa-icon();
		content: $fa-var-angle-right;
		color: #fff;
		font-size: 32px;
		display:block;
		width: 60px; height: 60px;
		border-radius: 50%;
		border: 1px solid $lightColor;
		margin-top: 15px;
		text-align:center;
		line-height:60px;
		text-indent: 4px;
	}

	&:hover {
		&:after {
			background: $lightColor;
			color: $secondaryColor;
		}
	}
}

.section-title	{
	margin:0;
	padding: 0 0 40px;
	text-align:center;

	.nopad & { padding-top: 60px; }
}

/* gmap */
.tc-map-marker {
	position: absolute;
	width: 52px; height: 52px;
	margin-top: -26px;
	background: url(../images/marker.svg) center no-repeat;
	background-size: contain;
}

.gmap {
	height: 500px;
	margin:0;
}

.address-overlay-wrap { 
	@include display( flex );	
	position: absolute;
	top:0; left:0; right:0; bottom:0;
	background: rgba(#000,0.8);
	opacity:1 !important;
	z-index: 8;
}

.address-overlay {
	margin: auto;
	text-align: center;

	&:before {
		@extend .tc-map-marker;
		content:"";
		position: relative;
		margin: 0 auto 10px;
		display: block;
	}

	address {
		margin-bottom: 10px;
	}
}


/* hodge-podge styles, some overrides */
.filter-controls {
	padding:8px 0;
}

.filter-bar {

	@mixin filter-bar-gradient() {
		@include linear-gradient( to top, rgba(#3e3e3e,0), #3e3e3e);
		border: 1px solid #2f2f2f;
	}

	.count { text-transform: none; }

	.num {
		background: $darkColor;
		color: $secondaryColor;
	}

	.single-form {
		@include filter-bar-gradient();
		border-radius: 4px;
		button { color: $mediumColor;}
		input { 
			border-right: 1px solid #2f2f2f; 
			color: $mediumColor;
		}
	}

	.selector {
		@include filter-bar-gradient();
		margin:0;
		vertical-align: middle;
		.value {
			line-height: 22px;
			font-weight: normal;
			color: $darkColor;
			font-size: 12px;
			text-transform: none;
			border-right: 1px solid #2f2f2f;
			margin-right: 4px;
		}

		&:before { 
			color: $darkColor; 
			content: $fa-var-angle-down;
			font-size: 20px;
		}
	}

}

.filter-section {
	.ov-grid {
		margin-bottom: -60px;
	}

	.section-title {
		padding-top: 40px;
	}

}

.with-overlay {
	position: relative;
	.overlaybg {
		position: absolute;
		top:0; left:0; right:0; bottom:0;
		&.loaded {
			opacity:0.3;
		}
	}
}

.hero,
.with-embellishment {
	position: relative;
	padding-bottom: 60px !important;
	&:after {
		content:"";
		display: block;
		width: 80px; height: 70px;
		position: absolute;
		left:0; right:0; bottom: -20px;
		margin: 0 auto;
		background: url(../images/team-canada-logo-stroke.svg) center no-repeat;
		background-size: contain;
		z-index: 1;
	}
}

.hero { padding-bottom:0 !important; }

.hr-embellish {
	width: 175px;
	max-width: 100%;
	text-align: center;
	margin: 10px auto;
	font-size: 24px;
	@include display( flex );
	@include align-items( center );
	@include justify-content( center );

	span { 
		width: 30px; height: 30px;
		display:block;
		margin: 0 10px;
		background: url(../images/team-canada-embellishment.svg) center center no-repeat;
		background-size: contain;
	}

	&:before,
	&:after {
		content:"";
		display:block;
		border-top: 1px solid $primaryColor;
		@include flex( 1 1 auto );

	}

/*
	.d-bg &,
	.dark-bg & {

		span { background-image: url(../images/team-canada-embellishment-white.svg); }

		&:before,
		&:after { border-color: $lightColor;}
	}
*/
}

/* excerpt-section */
.body .excerpt-section {
	padding-top: 80px !important;
	padding-bottom: 80px !important;
	text-align:center;

	p {
		line-height: 32px;
		font-size: 20px;
		max-width: 800px;
		font-weight:300;
		margin: 0 auto;
		width: 90%;
		margin-bottom: 20px;
	}
}


.item-meta { 
	font-weight: 600;
	font-size: 14px;
	text-transform: uppercase;
}

/* article overrides */
.article-pub-date {
	text-align:center;
	margin: 0 0 30px;
}

.article-content {
	.title {
		display: block;
		color: $primaryColor;
		font-size: 24px;
		margin: 0 0 10px;
	}
}

/* sidebar */
.sidebar-mod {
	.mod-title { 
		font-weight: 400; 
	}
}


.links-mod {

	ul {
		border: 1px solid $mediumColor;
	}

	a {
		display: block;
		font-size: 14px;
		text-align: center;
		text-transform: uppercase;
		color: $darkColor;
		padding: 10px 4px;
	}

	.selected a,
	a:hover {
		background: $mediumColor;
		color: $primaryColor;
	}

}

.acc-mod {

	.acc {
		border: 1px solid $mediumColor;
	}

	.acc-item-handle {
		background: $mediumColor;
		color: $darkColor;
		text-align: center;
		padding-left:0;
		padding-right:0;
		font-size: 14px;
		&:before { color: $darkColor !important; }
	}

	.expanded .acc-item-handle,
	.acc-item-handle:hover {
		background: $primaryColor;
		color: $mediumColor;
		&:before { color: $mediumColor !important; }
	}

	.acc-item-content {

		padding: 10px 0;
		background: #fff;

		a {
			display: block;
			font-size: 12px;
			color: $primaryColor;
			text-align: center;
			padding: 5px;

			&:hover {
				background: $primaryColor;
				color: $lightColor;
			}
		}
	}

}

.share-mod {

	a {
		@include t-fa();
		display: block;
		color: $darkColor;
		padding: 8px;
		border-radius: 6px;
		margin-left: -8px;
		text-transform: uppercase;
		font-size: 14px;
		line-height: 1;
		&:hover { color: #fff; }
		&:before {
			font-size: 26px;
			margin-right: 8px;
			vertical-align: middle;
		}
	}

	.share-fb {
		&:hover { background:#3b5998;}
		&:before { content: $fa-var-facebook-square;}
	}

	.share-tw {
		&:hover { background: #4099ff;}
		&:before { content: $fa-var-twitter-square; }
	}

}

/* article-sidebar overrides */
@media screen and (max-width: 1020px) {

	.main-body {
		@include flex-flow( row wrap );
		@include justify-content( center );

		.content {
			@include flex( 1 2 850 - $sidebarWidth );
		}

		.sidebar {
			margin: 0 auto 20px;
		}

		.sidebar-primary {
			@include order( inherit );
			padding-left: 20px;
		}
		.sidebar-secondary {
			@include flex( 0 0 100% );
		}

	}


}
